<footer class="footer navbar navbar-inverse text-center">
  <div class="container">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    </div>
  </div>
</footer>
